<?xml version="1.0" encoding="utf-8"?>
<manifest package="ki.wardrive" android:versionCode="36" android:versionName="3.1" xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-sdk android:minSdkVersion="4" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<uses-library android:name="com.google.android.maps" />
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".ListWifiActivity"  android:label="@string/MENU_LIST_LABEL"/>
		<service android:name="ScanService"></service>
	</application>
	
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_GPS" />
	
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	
	<uses-permission android:name="android.permission.INTERNET" />
	
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<supports-screens
		android:smallScreens="true" 
		android:normalScreens="true" 
		android:largeScreens="true" 
		android:anyDensity="true"
	/>
	


<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 